body {
       color:whitesmoke;
       background-image: linear-gradient(to bottom right, rgb(23, 30, 37), rgb(42, 40, 122));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    <!-- para que la pagina quede alineada-->
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.link-button:hover {
  color: red;
}
